@use '../styles/theme.scss';

.project-card-wrapper {
  width: 100%;

  .project-card {
    border-radius: 4px;
    width: calc(1024px);
    height: 480px;
    margin-top: 80px;
    max-width: 1024px;

    &:last-child {
      margin-bottom: 64px;
    }

    .image {
      &:hover,
      &:focus {
        cursor: pointer;
      }
      flex-grow: 2;
      width: calc(1024px - 280px);
      .main-image {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    .details-wrapper {
      position: relative;
      width: 280px;
      flex-shrink: 0;

      .details {
        overflow: auto;
        padding: 32px 24px;
        position: absolute;
        right: 0;
        top: 0;
        width: 280px;
        height: 100%;
        transition: width 0.5s;
      }

      h4 {
        margin: 0;
        margin-bottom: 2px;
        font-size: 24px;
        font-weight: 400;
      }

      .header {
        h4 {
          display: inline;
          margin-right: 8px;
        }

        a {
          font-size: 12px;
          border: 1px solid;
          border-radius: 4px;
          padding: 1px 8px;
          display: inline-block;
          position: relative;
          top: -2px;
          margin-right: 8px;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.dark {
  .project-card {
    border: 2px solid white;
    .details-wrapper:hover {
      .details {
        width: 480px;
      }
    }
    .details {
      border-left: 2px solid white;
      background: theme.$black;
    }
    &:hover,
    &:focus {
      outline: none;
      border: 2px solid theme.$green;
      box-shadow: 2px 4px 9px theme.$green;
    }
  }
}

.light {
  .project-card {
    background: white;
    border: 2px solid theme.$blue;

    .details-wrapper:hover {
      .details {
        width: 480px;
      }
    }
    .details {
      background: white;
      border-left: 2px solid theme.$blue;
    }
    &:hover,
    &:focus {
      outline: none;
      border: 2px solid theme.$blue;
      box-shadow: 2px 4px 9px theme.$blue;
    }
  }
}
